<script type="text/x-kendo-template" id="posts-template">
    #
    var isthere = false;
    for(var i=0;i< data.length;i++){
    var post = data[i];
    let ismine=false;
    if(post.UserId === document.getElementById('meuserid').value){
    ismine = true;
    }
    #
    <div class="panel panel-white post panel-shadow">
        <div class="pull-right">
            #if(ismine){#
            <span title="remove" style="cursor:pointer" data-postid="#=post.PostId#" class="removepost">
                <i class="fa fa-remove fa-2" aria-hidden="true" data-postid="#=post.PostId#"></i>
            </span>
            #}#
        </div>
        <div class="post-heading">
            <div class="pull-left image">
                #if(post.Anonymous){#
                <img class="img-circle avatar" src="#=post.ProfileImage#" title="#=post.Name#" alt="#=post.Name#" width="46" height="46" onerror="this.src='/Asserts/images/noprofile.png'" />
                #}else{#
                <img src="/asserts/images/boy.png" class="img-circle avatar" alt="Anonymas" width="46" height="46" />
                #}#
            </div>
            <div class="pull-left meta">
                <div class="title h5">
                    #if(post.Anonymous){#
                    <a href="/useracccount/userprofile?userid=#=post.UserId#"><b>#=post.Name#</b></a>
                    #}else{#
                    <b>Anonymas</b>
                    #}#
                </div>
                <h6 class="text-muted time">#=post.PostDayShow#</h6>
            </div>
        </div>
        #
        let likebuttontype = 'btn-default';
        let dislikebuttontype = 'btn-default';
        let islike = false;
        let isdislike = false;
        if(post.MeComment){
        if(post.MeLike){
        likebuttontype = 'btn-primary';
        islike = true;
        }else{
        dislikebuttontype = 'btn-primary';
        isdislike  = true;
        }
        }#
        <div class="post-description">
            #if(post.PostType === @((int)Alpha.Bo.Enums.Enums.PostType.Question)){#
            #=post.Topic#
            <p class="tags">#=post.PostQuestion.Description#</p>
            <div class="stats">
                @{Html.RenderPartial("post/_PostLikeDislike");}
            </div>
            #}
            else if(post.PostType=== @((int)Alpha.Bo.Enums.Enums.PostType.Poll)){#
            #=post.Topic#
            <div class="row">
                <div class="col-md-5 text-center">
                    <img src="#=post.PostPoll.Vs1Url#" class="img-thumbnail" width="100%" height="250" onerror="this.src='/Asserts/images/errorimageloading.jpg'" /><br />
                    <a href="\#." class="votepoll" data-postid="#=post.PostId#" data-what="one" data-state="false">
                        <i class="fa fa-thumbs-up icon fa-5x" data-postid="#=post.PostId#" data-what="one" data-state="false"></i>
                    </a>
                </div>
                <div class="col-md-5 text-center">
                    <img src="#=post.PostPoll.Vs2Url#" class="img-thumbnail" width="100%" height="250" onerror="this.src='/Asserts/images/errorimageloading.jpg'" /><br />
                    <a href="\#." class="votepoll" data-postid="#=post.PostId#" data-what="two" data-state="false">
                        <i class="fa fa-thumbs-up icon fa-5x" data-postid="#=post.PostId#" data-what="two" data-state="false"></i>
                    </a>
                </div>
            </div>
            #}else if(post.PostType === @((int)Alpha.Bo.Enums.Enums.PostType.Comment)){#
            <div class="col-md-11">
                #=post.Topic#
                <p class="tags">#=post.PostNeedComment.Description#</p>
                #if(post.PostNeedComment.IsImage){#
                <img src="#=post.PostNeedComment.ImageUrl#" class="img-thumbnail" width="50%" height="250" onerror="this.src='/Asserts/images/errorimageloading.jpg'" /><br />
                #}#
                <div class="stats">
                    @{Html.RenderPartial("post/_PostLikeDislike");}
                </div>
            </div>
            <br /><br />
            #}#
            # if(post.PostType != @((int)Alpha.Bo.Enums.Enums.PostType.Poll)){#
            <div class="post-footer">
                <div class="input-group">
                    <textarea class="form-control" rows="1" placeholder="Add a comment" type="text" id="txt_#=post.PostId#" maxlength="300"></textarea>
                    <span class="input-group-addon">
                        <input type="checkbox" class="commentanonymas" name="name" value="" id="chk_#=post.PostId#" />
                        <a href="\#." data-postid="#=post.PostId#" class="sendcomment"><i class="fa fa-reply" data-postid="#=post.PostId#"></i></a> |
                        <a href="\#." class="showcomment" data-postid="#=post.PostId#"><i class="fa fa-refresh" data-postid="#=post.PostId#"></i></a>
                    </span>
                </div>
                <ul class="comments-list">
                    <li class="comment">
                        <ul class="comments-list" id="c_#=post.PostId#">
                            <!--render comment template-->
                            #
                            let cmt = post.PostCommentSearchResponse;
                            for(var k=0;k < cmt.length;k++ ) {
                            let d = cmt[k];
                            #
                            @{Html.RenderPartial("post/_Comments");}
                            <!--end render comment template-->
                            #}#
                        </ul>
                    </li>
                </ul>
            </div>
            #}#
        </div>
    </div>
    #
    isthere = true;
    }
    if(!isthere){#
    <p style="padding:15px; margin-bottom:0px; background:\#f5f5f5; border-radius:4px; text-align:center;">No post found.lets start posting</p>
    #}#
</script>
<script type="text/x-kendo-template" id="postsComment-template">
    #
    for(var i=0;i < data.length;i++ ) {
    var d = data[i];
    #
        @{Html.RenderPartial("post/_Comments");}
    #}#
</script>
<style>
    .tags {
        font-size: 12px;
        color: #777;
    }
  </style> 
