<div id="profileImage">
    <div class="header-title-bg">
        Basic info
        <span class="pull-right help"
              data-url="/asserts/ts/help/settings/help.basic.template.html"
              data-caption="Basic Info | Help"
              title="Help">?</span>
    </div>
    <br><br><br>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <img src="" alt="profile image" class="img-thumbnail" id="profileimagechangeble" width="150" height="150">
            </div>
            <div class="col-md-6">
                <input name="files" type="file" id="fileProfileImage" />
                <p style="padding-top: 1em; text-align: right">
                    <input type="button" value="Saved" class="btn btn-primary" id="saveImage" />
                </p>
            </div>
        </div>
    </div>
</div>