<div id="profileImage">
    <div class="header-title-bg">
        <i class="fa fa-picture-o fa-2" aria-hidden="true"></i> Profile image
        <span class="pull-right help"
              data-url="/asserts/ts/help/settings/help.basic.template.html"
              data-caption="Basic Info | Help"
              title="Help">?</span>
    </div>
    <br><br><br>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <img src="" onerror="this.src='/Asserts/images/noprofile.png'" alt="profile image" class="img-thumbnail" id="profileimagechangeble" width="150" height="150">
            </div>
            <div class="col-md-6">
                <input name="files" type="file" id="fileProfileImage" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href='/useracccount/settings/stater#/tags' class="btn btn-primary pull-right hidden" id="skipImage">
                <i class="fa fa-floppy-o d menuiconfont" aria-hidden="true"></i> Skip
            </a>
            &nbsp; &nbsp; &nbsp;
            <button class="btn btn-primary pull-right" id="saveImage">
                <i class="fa fa-floppy-o d menuiconfont" aria-hidden="true"></i> Save
            </button>
        </div>
    </div>
</div>