<div id="info">
    <div class="row">
        <div class="col-md-3">
            <ul id="leftmenu" class="list-group" style="margin:0px;">
                <li class="list-group-item active list-group-edit menuleftx" style="padding:10px; padding-left:20px; border-radius:0px;">
                    <a href="#/info?type=faq" class="leftmenu"><i class="fa fa-question  fa-3 faiconcolor" aria-hidden="true"></i>  FAQ</a>
                </li>
                <li class="list-group-item list-group-edit menuleftx" style="padding:10px; padding-left:20px; border-radius:0px;">
                    <a href="#/info?type=contact" class="leftmenu"><i class="fa fa-info-card fa-2" aria-hidden="true"></i> Contact us</a>
                </li>
                <li class="list-group-item list-group-edit menuleftx" style="padding:10px; padding-left:20px; border-radius:0px;">
                    <a href="#/info?type=terms" class="leftmenu"><i class="fa fa-picture-o fa-2" aria-hidden="true"></i> Terms of user</a>
                </li>
                <li class="list-group-item list-group-edit menuleftx" style="padding:10px; padding-left:20px; border-radius:0px;">
                    <a href="#/info?type=cookies" class="leftmenu"><i class="fa fa-phone fa-2" aria-hidden="true"></i> Cookies policy</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9" id="infoz">
         
        </div>
    </div>
</div>
