<div id="priviewpage">
    <div style="padding:20px; background-color:#ffffff; border:1px solid #e1e1e8; border-radius:4px; margin-bottom:20px;">
        <div class="row">
            <div class="col-md-2" style="text-align:center;">
                    <img id="id_avatar" data-toggle="tooltip" data-placement="top" title="" width="100" height="100"
                         data-bind="attr: { src: ProfileImage}" style="border-radius:100px; cursor:pointer;">
            </div>
            <div class="col-md-3" style="text-align:center; padding-top:15px;">
                <h4 style="margin:0px;" data-bind="text: Name"></h4>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div style="width:25%; text-align:center; padding-top:15px; float:left;">
                        <h4 style="color:#2B587A; margin:0px;" data-bind="text: Followings">0</h4>
                        <p style="font-size:11px;">Following</p>
                    </div>
                    <div style="width:25%; text-align:center; padding-top:15px; float:left;">
                        <h4 style="color:#2B587A; margin:0px;" data-bind="text: Followers">0</h4>
                        <p style="font-size:11px;">Followers</p>
                    </div>
                    <div style="width:25%; text-align:center; padding-top:15px; float:left;">
                        <h4 style="color:#2B587A; margin:0px;" data-bind="text: Asks">0</h4>
                        <p style="font-size:11px;">Ask</p>
                    </div>
                    <div style="width:25%; text-align:center; padding-top:15px; float:left;">
                        <h4 style="color:#2B587A; margin:0px;" data-bind="text: Answers">0</h4>
                        <p style="font-size:11px;">Answers</p>
                    </div>
                </div>
                <div class="row" data-bind="visible:IsMine">
                    <div class="col-md-12">
                        <div class="btn-group pull-right" id="relationsbuttonlist">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div style="padding:20px; padding-bottom:0px; padding-top:7px; background-color:#ffffff; border:1px solid #e1e1e8; border-radius:4px; margin-bottom:20px;">
                    <div class="header-title-bg" style="margin-top:-7px;">
                        Information
                    </div>
                    <div class="row" style="padding-top:50px; padding-bottom:15px;">
                        <div class="col-md-6">
                            <h6><b>Basic information</b></h6>
                            <hr style="margin-top:5px; margin-bottom:5px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <p style="color:#999;">Date of birth:</p>
                                </div>
                                <div class="col-md-6">
                                    <p data-bind="text: Dob">1 Feb 1957</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p style="color:#999;">Gender:</p>
                                </div>
                                <div class="col-md-6">
                                    <p data-bind="text: Gender"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p style="color:#999;">Country:</p>
                                </div>
                                <div class="col-md-6">
                                    <p data-bind="text: Country">Country</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p style="color:#999;">Marital status:</p>
                                </div>
                                <div class="col-md-6">
                                    <p data-bind="text: MaritalStatus">Marital Status</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p style="color:#999;">Employeement:</p>
                                </div>
                                <div class="col-md-6">
                                    <p data-bind="text: Employeement">Employeement</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p style="color:#999;">Bio:</p>
                                </div>
                                <div class="col-md-6">
                                    <p data-bind="text: Bio">Bio</p>
                                </div>
                            </div>
                            <h6><b>Interestings:</b></h6>
                            <hr style="margin-top:5px; margin-bottom:5px;">
                            <div id="usertags_preview"></div>
                        </div>
                        <div class="col-md-6">
                            <h6><b>Contact info:</b> </h6>
                            <hr style="margin-top:5px; margin-bottom:5px;">
                            <div id="contactinfopreview"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-kendo-template" id="userContact-template">
    <table class="table">
        <tbody>
            #
            var isThere = false;
            for(var i=0;i< data.length;i++){
            var element = data[i];
            #
            <tr class="active">
                <td>
                    <img src="/asserts/images/social/#=element.Icon#" alt="#=element.Key#" class="img-thumbnail">
                </td>
                <td>

                    #if(element.IsShowValue){#
                    <b> #=element.Url# </b>
                    #}else{#
                    <a href="#=element.Url#" target="_blank">
                        <b> #=element.Key# </b>
                    </a>
                    #}#

                </td>
            </tr>
            #
            isThere = true;
            }
            if(!isThere){#
            <p style="padding:15px; margin-bottom:0px; background:\#f5f5f5; border-radius:4px; text-align:center;">Contacts not exist</p>
            #}#
    </table>
</script>
<script type="text/x-kendo-template" id="userTags-template">
    #
    var isthere = false;
    for(var i=0;i< data.length;i++ ){
    var ele = data[i];
    #
    <a href="\#." class="tags" data-tagid="#=ele.TagId#">\##=ele.TagName#  </a>,
    #
    isthere = true;
    }
    if(!isthere){#
    <p style="padding:15px; margin-bottom:0px; background:\#f5f5f5; border-radius:4px; text-align:center;">Tags not exist</p>
    #}#
</script>

<script type="text/x-kendo-template" id="userRelations-template">
    #
    console.log(data);
    var followingButton = 'btn-default';
    var followerButton ='btn-default';
    var blockButton='btn-default';
    var relations = data;
    if(relations.IsFollowing){
    followingButton = 'btn-success';
    }
    if(relations.IsFollower)
    {
    followerButton = 'btn-success';
    }
    if(relations.IsBlock)
    {
    blockButton = 'btn-danger';
    }#
    <div class="btn-group">
        <div class="btn-group btn-group-xs" role="group" aria-label="action">
            <button type="button" class="btn #=followingButton# relation" id="#=relations.UserId#_following" data-type="0" data-userid="#=relations.UserId#" data-isrelation="#=relations.IsFollowing#">
                Following
            </button>
            <button type="button" class="btn  #=followerButton# relation" id="#=relations.UserId#_follower" data-type="1" data-userid="#=relations.UserId#" data-isrelation="#=relations.IsFollower#">
                Follower
            </button>
            <button type="button" class="btn  #=blockButton# relation" id="#=relations.UserId#_block" data-type="2" data-userid="#=relations.UserId#" data-isrelation="#=relations.IsBlock#">
                Block
            </button>
        </div>
    </div>
</script>