<div id="searchcriendplaceholder">
    <div class="header-title-bg">
        Search results <b id="searchCount">0</b>
    </div>
    <div style="padding:0px; background-color:#ffffff; border:1px solid #e1e1e8; border-radius:4px; margin-bottom:20px; padding-top:47px;">
        <div style="padding:20px;">
            <div id="searchcriends"></div>
            <input type="button" name="name" value="Load more" class="btn btn-default pull-right"id="criendsloadmore"/>
            <br />
        </div>
    </div>
</div>

<input type="hidden" name="name" id="criendsearchskip" value="0" />
