<div class="navbar-collapse collapse pull-right">
    <ul class="nav navbar-nav">
        <li class="menu"><a href="#/join"><i class="fa fa-handshake-o fa-2 menuiconfont" aria-hidden="true"></i> Join | </a></li>
        <li class="menu"><a title="Help" data-caption="About Criends | Help" 
                  class="help"  data-url="/asserts/ts/help/auth/help.about.template.html"><i class="fa fa-info-circle fa-2 menuiconfont" aria-hidden="true"></i> What is Criends | </a></li>
    </ul>
</div>
 