<div class="navbar-collapse collapse pull-right">
    <ul class="nav navbar-nav">
        <li class="menu"><a href="#/welcome">Welcome | </a></li>
        <li class="menu"><a href="#/join">Join | </a></li>
        <li class="menu"><a title="Help" data-caption="About Criends | Help" 
                  class="help"  data-url="/asserts/ts/help/auth/help.about.template.html">What is Criends | </a></li>
    </ul>
</div>
 