<script type="text/x-kendo-template" id="posts-template">
    #
    var isthere = false;
    for(var i=0;i< data.length;i++){
    var post = data[i];
    #
    <div class="panel panel-white post panel-shadow">
        <div class="pull-right">
            #if(post.UserId === document.getElementById('meuserid').value){#
            <span title="remove" style="cursor:pointer" data-postid="#=post.PostId#" class="removepost">
                <i class="fa fa-remove fa-2 removepost" aria-hidden="true" data-postid="#=post.PostId#"></i>
            </span>
            #}#
        </div>
        <div class="post-heading">
            <div class="pull-left image">
                #if(post.Anonymous){#
                <img class="img-circle avatar" src="#=post.ProfileImage#" title="#=post.Name#" alt="#=post.Name#" width="46" height="46" onerror="this.src='/Asserts/images/noprofile.png'"/>
                #}else{#
                <img src="/asserts/images/boy.png" class="img-circle avatar" alt="Anonymas" width="46" height="46" />
                #}#
            </div>
            <div class="pull-left meta">
                <div class="title h5">
                    #if(post.Anonymous){#
                    <a href="/useracccount/userprofile?userid=#=post.UserId#"><b>#=post.Name#</b></a>
                    #}else{#
                    <b>Anonymas</b>
                    #}#
                </div>
                <h6 class="text-muted time">#=post.PostDayShow#</h6>
            </div>
        </div>
        #
        let likebuttontype = 'btn-default';
        let dislikebuttontype = 'btn-default';
        let islike = false;
        let isdislike = false;
        if(post.MeComment){
        if(post.MeLike){
        likebuttontype = 'btn-primary';
        islike = true;
        }else{
        dislikebuttontype = 'btn-primary';
        isdislike  = true;
        }
        }#
        <div class="post-description">
            #if(post.PostType === @((int)Alpha.Bo.Enums.Enums.PostType.Question)){#
            #=post.Topic#
            <p class="tags">#=post.PostQuestion.Description#</p>
            <div class="stats">
                <a href="\#." class="btn #=likebuttontype# stat-item like" data-postid="#=post.PostId#" data-state="#=islike#" id="l_#=post.PostId#">
                    <i class="fa fa-thumbs-up icon"></i> #=post.Likes#
                </a>
                <a href="\#." class="btn #=dislikebuttontype# stat-item dislike" data-postid="#=post.PostId#" data-state="#=isdislike#" id="dl_#=post.PostId#">
                    <i class="fa fa-thumbs-down icon"></i> #=post.Dislikes#
                </a>
            </div>
            #}
            else if(post.PostType=== @((int)Alpha.Bo.Enums.Enums.PostType.Poll)){#
            #=post.Topic#
            <div class="row">
                <div class="col-md-5 text-center">
                    <img src="#=post.PostPoll.Vs1Url#" class="img-thumbnail" width="100%" height="250" onerror="this.src='/Asserts/images/errorimageloading.jpg'" /><br />
                    <a href="\#." class="votepoll" data-postid="#=post.PostId#" data-what="one" data-state="false">
                        <i class="fa fa-thumbs-up icon fa-5x" data-postid="#=post.PostId#" data-what="one" data-state="false"></i>
                    </a>
                </div>
                <div class="col-md-5 text-center">
                    <img src="#=post.PostPoll.Vs2Url#" class="img-thumbnail" width="100%" height="250" onerror="this.src='/Asserts/images/errorimageloading.jpg'" /><br />
                    <a href="\#." class="votepoll" data-postid="#=post.PostId#" data-what="two" data-state="false">
                        <i class="fa fa-thumbs-up icon fa-5x" data-postid="#=post.PostId#" data-what="two" data-state="false"></i>
                    </a>
                </div>
            </div>
            #}else if(post.PostType === @((int)Alpha.Bo.Enums.Enums.PostType.Comment)){#
            <div class="col-md-11">
                #=post.Topic#
                <p class="tags">#=post.PostNeedComment.Description#</p>
                #if(post.PostNeedComment.IsImage){#
                <img src="#=post.PostNeedComment.ImageUrl#" class="img-thumbnail" width="50%" height="250" onerror="this.src='/Asserts/images/errorimageloading.jpg'" /><br />
                #}#
                <div class="stats">
                    <a href="\#." class="btn #=likebuttontype# stat-item like" data-postid="#=post.PostId#" data-state="#=islike#" id="l_#=post.PostId#">
                        <i class="fa fa-thumbs-up icon"></i> <span>#=post.Likes#</span>
                    </a>
                    <a href="\#." class="btn #=dislikebuttontype# stat-item dislike" data-postid="#=post.PostId#" data-state="#=isdislike#" id="dl_#=post.PostId#">
                        <i class="fa fa-thumbs-down icon"></i> <span>#=post.Dislikes#</span>
                    </a>
                </div>
            </div>
            #}#
            # if(post.PostType != @((int)Alpha.Bo.Enums.Enums.PostType.Poll)){#
            <div class="post-footer">
                <div class="input-group">
                    <input class="form-control" placeholder="Add a comment" type="text" id="txt_#=post.PostId#" maxlength="300">
                    <span class="input-group-addon">
                        <a href="\#." data-postid="#=post.PostId#" class="sendcomment"><i class="fa fa-edit" data-postid="#=post.PostId#"></i></a> |
                        <a href="\#." class="showcomment" data-postid="#=post.PostId#"><i class="fa fa-eye" data-postid="#=post.PostId#"></i></a>
                    </span>
                </div>
                <ul class="comments-list">
                    <li class="comment">
                        <ul class="comments-list" id="c_#=post.PostId#"></ul>
                    </li>
                </ul>
            </div>
            #}#
        </div>
    </div>
    #}#
</script>
<script type="text/x-kendo-template" id="postsComment-template">
    #
    console.log(data);
    for(var i=0;i < data.length;i++ ) {
    var d = data[i];
    #
    <li class="comment" id="c_#=d.CommentId#">
        <a class="pull-left" href="\#.">
            <img class="avatar" src="#=d.ProfileImage#" alt="#=d.Name#">
        </a>
        <div class="comment-body">
            <div class="comment-heading">
                <a href="/useracccount/userprofile?userid=#=d.UserId#">
                    <h4 class="user"> #=d.Name#</h4>
                </a>
                <h5 class="time">#=d.CommentDateStr#</h5>
                <div class="pull-right">
                    <a href="\#." title="like" class="commentlike" data-commentid="#=d.CommentId#" data-state="fa">
                        <i class="fa fa-thumbs-up" aria-hidden="true" title="like" data-commentid="#=d.CommentId#"></i>
                    </a>
                    <a href="\#." title="disike" class="commentdislike" data-commentid="#=d.CommentId#">
                        <i class="fa fa-thumbs-down" aria-hidden="true" title="disike" data-commentid="#=d.CommentId#"></i>
                    </a>
                    #if(d.IsMine){#
                    <a href="\#." title="remove" class="commentremove" data-commentid="#=d.CommentId#">
                        <i class="fa fa-close" aria-hidden="true" title="remove" data-commentid="#=d.CommentId#"></i>
                    </a>
                    #}else{#
                    <span> &nbsp; &nbsp;</span>
                    #}#
                </div>
            </div>
            <p>#=d.Comment#</p>
        </div>
    </li>
    #}#
</script>
<style>
    .tags {
        font-size: 12px;
        color: #777;
    }
</style>


