<script type="text/x-kendo-template" id="posts-template">
    #
    var isthere = false;
    for(var i=0;i< data.length;i++){
    var post = data[i];
    #
    <div class="panel panel-white post panel-shadow">
        <div class="pull-right">
            #if(post.UserId === document.getElementById('meuserid').value){#
            <span title="remove" style="cursor:pointer" data-postid="#=post.PostId#" class="removepost">
                <i class="fa fa-remove fa-2 removepost" aria-hidden="true" data-postid="#=post.PostId#"></i>
            </span>
            #}#
        </div>
        <div class="post-heading">
            <div class="pull-left image">
                #if(post.Anonymous){#
                <img class="img-circle avatar" src="#=post.ProfileImage#" title="#=post.Name#" alt="#=post.Name#" width="46" height="46" />
                #}else{#
                <img src="/asserts/images/boy.png" class="img-circle avatar" alt="Anonymas" width="46" height="46" />
                #}#
            </div>
            <div class="pull-left meta">
                <div class="title h5">
                    #if(post.Anonymous){#
                    <a href="/useracccount/userprofile?userid=#=post.UserId#"><b>#=post.Name#</b></a>
                    #}else{#
                    <b>Anonymas</b>
                    #}#
                </div>
                <h6 class="text-muted time">1 minute ago</h6>
            </div>
        </div>
        <div class="post-description">
            #if(post.PostType === @((int)Alpha.Bo.Enums.Enums.PostType.Question)){#
            #=post.Topic#
            <p class="tags">#=post.PostQuestion.Description#</p>
            <div class="stats">
                <a href="\#" class="btn btn-default stat-item">
                    <i class="fa fa-thumbs-up icon"></i>2
                </a>
                <a href="\#" class="btn btn-default stat-item">
                    <i class="fa fa-thumbs-down icon"></i>12
                </a>
            </div>
            #}
            else if(post.PostType=== @((int)Alpha.Bo.Enums.Enums.PostType.Poll)){#
            #=post.Topic#
            <div class="row">
                <div class="col-md-5">
                    <img src="#=post.PostPoll.Vs1Url#" class="img-thumbnail" width="100%" height="250" onerror="this.src='/Asserts/images/errorimageloading.jpg'" /><br />
                    <b>This</b>
                </div>
                <div class="col-md-5">
                    <img src="#=post.PostPoll.Vs2Url#" class="img-thumbnail" width="100%" height="250" onerror="this.src='/Asserts/images/errorimageloading.jpg'" /><br />
                    <b>This</b>
                </div>
            </div>
            #}else if(post.PostType === @((int)Alpha.Bo.Enums.Enums.PostType.Comment)){#
            <div class="col-md-11">
                #=post.Topic#
                <p class="tags">#=post.PostNeedComment.Description#</p>
                #if(post.PostNeedComment.IsImage){#
                <img src="#=post.PostNeedComment.ImageUrl#" class="img-thumbnail" width="50%" height="250" onerror="this.src='/Asserts/images/errorimageloading.jpg'" /><br />
                #}#
                <div class="stats">
                    <a href="\#" class="btn btn-default stat-item">
                        <i class="fa fa-thumbs-up icon"></i>2
                    </a>
                    <a href="\#" class="btn btn-default stat-item">
                        <i class="fa fa-thumbs-down icon"></i>12
                    </a>
                </div>
            </div>
            #}#
            <div class="post-footer">
                <div class="input-group">
                    <input class="form-control" placeholder="Add a comment" type="text">
                    <span class="input-group-addon">
                        <a href="\#"><i class="fa fa-edit"></i></a> | 
                        <a href="\#"><i class="fa fa-eye"></i></a>
                    </span>
                </div>
                <ul class="comments-list">
                    <li class="comment">
                        <ul class="comments-list">
                            <li class="comment">
                                <a class="pull-left" href="\#">
                                    <img class="avatar" src="http://bootdey.com/img/Content/user_3.jpg" alt="avatar">
                                </a>
                                <div class="comment-body">
                                    <div class="comment-heading">
                                        <h4 class="user">Ryan Haywood</h4>
                                        <h5 class="time">3 minutes ago</h5>
                                    </div>
                                    <p>Relax my friend</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    #}#

</script>
<style>
    .tags {
        font-size: 12px;
        color: #777;
    }
</style>


