@{
    if (Request.Headers["X-PJAX"] != null)
    {
        Layout = "~/Views/Shared/_PjaxLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_View.cshtml";
    }
} 
<ul id="leftmenu" class="list-group" style="margin:0px;">
    <li class="list-group-item active list-group-edit menu" data-menu="preview" style="padding:10px; padding-left:20px; border-radius:0px;">

        <a href="#" data-toggle="tab" class="menu" data-menu="preview">
            <i class="fa fa-user fa-2" aria-hidden="true"></i> Profile</a>
    </li>
    <li class="list-group-item list-group-edit menu" data-menu="ask" style="padding:10px; padding-left:20px; border-radius:0px;">
        <a href="#" data-toggle="tab" class="menu" data-menu="ask">
            <i class="fa fa-question-circle fa-2" aria-hidden="true"></i> Ask</a>
    </li>
    <li class="list-group-item list-group-edit menu" data-menu="anwers" style="padding:10px; padding-left:20px; border-radius:0px;">
        <a href="#" data-toggle="tab" class="menu" data-menu="anwers">
            <i class="fa fa-reply fa-2" aria-hidden="true"></i> Answers</a>
    </li>
    <li class="list-group-item list-group-edit menu" data-menu="criends" style="padding:10px; padding-left:20px; border-radius:0px; margin-top:5px;">
        <a href="#" data-toggle="tab" data-menu="criends" class="menu">
           <i class="fa fa-users fa-2" aria-hidden="true"></i> Criends</a>
    </li>
    <li class="list-group-item list-group-edit menu" data-menu="chat" style="padding:10px; padding-left:20px; border-radius:0px; margin-top:5px;">
        <a href="#" data-toggle="tab" data-menu="chat" class="menu"> 
            <i class="fa fa-paper-plane fa-2" aria-hidden="true"></i> Message</a>
    </li>
</ul>
<input type="hidden" name="crienduserid" value="" id="crienduserid" />
<input type="hidden" name="criendname" value="" id="criendname" />
<input type="hidden" name="criendprofileimage" value="" id="criendprofileimage" />
<input type="hidden" name="meemail" value="" id="meemail" />

@{Html.RenderPartial("_Posts"); }
@section scripts{
<script src="~/Asserts/ts/user/profile/profileRoute.js"></script>
<script src="~/Asserts/ts/user/profile/profileViewModel.js"></script>
<script src="~/Asserts/ts/posts/ask/post.js"></script>
<script src="~/Asserts/ts/posts/ask/postViewModel.js"></script>
<script src="~/Asserts/ts/user/profile/profile.js"></script>
}
